@charset "UTF-8";
.index{
	background: white;
}

/* slide */

.index-top-box {
	position: relative;
    max-width: 64.375rem;
    margin: 0px auto;
    height: 300px;
    background: white;
}

/* slide */


.index-bottom {
	width: 1024px;
    margin: auto;
    padding: 3.5rem 0px 1.5rem;
}
.index-bottom>h2 {
	font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.index-bottom-box {
	position: relative;
    overflow: hidden;
}
.index-bottom-box-list {
	display: flex;
    flex-wrap: wrap;
}
.index-product {
	width: 196px;
    margin-right: 11px;
    margin-bottom: 11px;
}
.index-product-a {
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    display: block;
}
.index-product-img {
    position: relative;
    width: 100%;
    height: 194px;
}
.index-product-content {
    padding: 15px 10px;
    height: 80px;
}
.index-product-name {
	position: relative;
    font-size: 14px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.index-product-etc {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}
.index-product-price {
	font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.index-product-price::after {
	content: "Ïõê";
    font-size: 13px;
    margin-left: 3px;
}
.index-product-time {
	font-size: 12px;
    color: rgb(136, 136, 136);
}


