@charset "UTF-8";

.index-bottom {
	width: 1024px;
    margin: auto;
    padding: 3.5rem 0px 1.5rem;
}
.index-bottom>h2 {
	font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.index-top-box {
	position: relative;
    max-width: 64.375rem;
    margin: 0px auto;
    height: 300px;
    background: white;
}
.s1r-1 {
	
}
.s1r-1 {
	
}
.s1r-1 {
	
}
.s1r-1 {
	
}
.s1r-1 {
	
}
.s1r-1 {
	
}


